<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.victorsaico.shareddrawer">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="DATABASE" android:value="sugarormapp.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data  android:name="DOMAIN_PACKAGE_NAME" android:value="com.victorsaico.shareddrawer.models" />

        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activities.MyPreferencesActivity" android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>